body{
	margin: 55px 0 0 35px ;
	background-color: #252f31;
}
span{
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #CA6573;
	font-family: 'Open Sans', sans-serif;
}
a:hover{
	font-weight: bold;
}
h1.header{
	margin-top: 55px;
}
img{
	height: 70px;
	width: 70px;
	border-radius: 8px;
}
header{
	display: flex;
}
.git-ref{
	padding: 0;
	margin: 0;
}
.name{
	margin: 0; 
}
.header{
	font-family: 'Roboto', sans-serif;
	color:#FFF;
}
.about-me{
	width: 70%;
	font-family: 'Open Sans', sans-serif;
	color: #C9C8C8;
}
.profile{
	margin-left: 10px;
}
