body{
	margin: 55px 0 0 35px ;
	background-color: #252f31;
}
span{
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
}
a:hover{
	font-weight: bold;
	color:#CA6573;
}
h1.header{
	margin-top: 55px;
}
header{
	display: flex;
}
h4{
	padding: 0;
	margin: 0;
	color: #C9C8C8;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.85;
}
li{
	font-size: 1.1em;
}
p{
	text-align: justify;
}
.name{
	margin: 0; 
}
.header{
	font-family: 'Roboto', sans-serif;
	color:#FFF;
}
.about-me{
	width: 70%;
	font-family: 'Open Sans', sans-serif;
	color: #C9C8C8;
	margin-bottom: 35px;
}
.profile{
	margin-left: 10px;
}
.line{
	height: 6px;
	width: 70%;
	background-color: #C9C8C8; 
	margin-top: 20px;
	border-radius: 20px;
}
.icon{
	width: 20px;
	height: 20px; 
	border-radius: 8px;
	margin-top: 4px;
}
.personal-img{
	height: 75px;
	width: 75px;
	border-radius: 8px;
}
